$red: #D33F49;
$orange: #F09253;
$blue: #579BCB;
$light-blue: #e3f4ff;
$pink: #EBB0B0;
$yellow: #ffe54c;
$green: #086a1c;
$gray: #333333;
$light-gray: #dfdede;
$super-light-gray: #F4F4F4;
$off-white: #fbfbfb;
